
<% include partials/enlaces %>


<title>Editor JDrive</title>
</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="sidebar sidebar-sticky col-lg-3 navbar-dark bg-dark">
                <nav class="navbar navbar-expand-lg flex-lg-column text-left">                         
                    <a class="h3 py-lg-5 text-white" href="#"><img src="img/festisite_super-mario.png" class="icono"> JDrive</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav flex-column">
                        <a class="nav-item nav-link lead" id="Ainicio" href="#inicio"><i class="fa fa-home"></i> Inicio</a>
                        <a class="nav-item nav-link lead" id="Aeditor" href="#edit"><i class="far fa-edit"></i> Editor</a>
                        <a class="nav-item nav-link lead" id="Aconfig" href="#"><i class="fas fa-cogs"></i> Configuraciones</a>
                        <a class="nav-item nav-link lead" id="Areciclados" href="#reciclaje"><i class="fas fa-recycle"></i> Reciclaje</a>
                        <a class="nav-item nav-link lead" id="Asalir" href="/salir"><i class="fas fa-sign-out-alt"></i> Salir</a>
                        </div>                        
                    </div>                                        
                </nav>
                <h2 class="d-xl-block d-sm-none ml-0 mt-5 text-light">Bienvenido:<strong class="text-uppercase text-light"> <%= user.nombre %> </strong></h2>     
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="background-color: rgb(184, 250, 175);" id="edit">
                <div class="row pt-4 justify-content-center">
                    <strong>BIENVENIDO A TU EDITOR</strong>               
                </div> 
                <div class="row justify-content-center mt-2">
                    <div class="container-fluid">                        
                        <input class="form-control float-left col-4 col-xl-3" type="text" name=""  id= "nombreArchivo" placeholder="nombre archivo">
                        <select id="slc-lenguaje" class="form-control ml-1 mr-1 col-4 col-xl-3 flex-column float-left">
                            <option value="">--seleccionar uno-- </option>
                            <option value="javascript">javascript</option>
                            <option value="java">java</option>
                            <option value="html">HTML</option>
                            <option value="css">CSS</option>
                            <option value="csharp">C#</option>
                            <option value="php">php</option>
                            <option value="phyton">phyton</option>
                        </select>
                        <button class="btn btn-dark bg-secondary"  type="button" id="guardar"> Guardar </button>                                
                    </div>                    
                </div> 
                <div id="editor"></div>                                    
            </div> 

            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="background-color: rgb(135, 216, 159);" id="inicio">
                <div class="row p-1" id="archivos">                    
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="background-color: rgb(135, 216, 159);" id="reciclaje">
                <div class="row p-1" id="archivosReciclados">
                </div>                
            </div>  
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="background-color: rgb(135, 216, 159); border-left: 2px solid light" id="config">
                <br>
                <br>
                <h1 class=" font-italic text-center">CONFIGURACIONES</h1>
                <div class="row justify-content-center" style="margin-top: 20px;">    
                    <div class="card">
                        <div class="card-title text-center"><h1>DATOS</h1></div>
                        <div class="card-header">
                        <form class="bg-light">                                    
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Nombre</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="nombre">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Apellido</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Correo Electronico</label>
                                <input type="email" class="form-control" id="inputAddress" placeholder="jn@unah.hn">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Contraseña</label>
                                <input type="password" class="form-control" id="inputAddress2" placeholder="contraseña">
                            </div>
                            <div class="card-title w-100">
                                <button type="submit" class="btn btn-primary">Modidicar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>                            
                        </form>
                    </div>
                </div>                    
            </div>                        
        </div>
    </div>     
</div>   
    <% include partials/enlace-editor %>              

</body>
</html>